<!DOCTYPE html>

<html>
<head>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <meta charset="UTF-8">
    {% block stylesheets %}

        <link rel="stylesheet" href="https://use.typekit.net/lcx3lok.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    <header class=" my-5">
{#        <a href="http://127.0.0.1:8000/">#}
{#            <img id="logo" alt="greta-logo" src="{{ asset('images/logo.png') }}">#}
{#        </a>#}

        <h1 class="text-center">DASHBOARD KiKiCé?</h1>
        <a id="home" href="/">Retour sur le site</a>
    </header>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <footer class="text-center my-5">
        <p>Le site de réseau des élèves du Greta Provence  par la section Développement Web 2019 - 2020</p>
    </footer>
{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
