{{ form_start(form) }}
<ul>
    <li>
        {{ form_row(form.degree) }}
    </li>
    <li>
        {{ form_row(form.year) }}
    </li>
</ul>
<input type="submit" value="Enregistrer">
{{ form_end(form) }}